li {
  font-size: 18px;
}

.card-title {
  background-color: blue;
}

.square {
  margin: 2px;
  padding-top: 4px;
  float: left;
  width: 2rem;
  height: 2rem;
  color: #122;
  text-align: center;
}
.nonScoreSquare{
  margin: 2px;
  
  float: left;
  width: 2rem;
  height: 1rem;
  color: #122;
  text-align: center;
}

/* Boxscore Colors */
.ace {
  background-color: #37c
}
.birdie {
  background-color:#0d7
}
.par {
  background-color: #999
}
.bog {
  background-color: #f00
}
.doublebog {
  background-color: rgb(139, 3, 3)
}
.triplebog {
  background-color: #c5d
}

.row {
  margin-bottom: 0;
}

.card-content {
  padding: 0 !important;
}