li {
  font-size: 18px;
}
body {
  background-color: #fee;
}
.course-banner{
  background-color: #3fc;
  color: black;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}
.overUnder {
  background-color: #037;
  color:#fff;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.hole-number {
  padding-left: 10px;
  padding-right: 10px;
}
.par-input-value {
  padding-left: 10px;
  padding-right: 10px;
}
.left-par-btn {
  padding-left: 10px;
}

.card-title {
  background-color:#03a;
  margin-bottom: 0 !important;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.square {
  margin: 2px;
  padding-top: 4px;
  float: left;
  width: 2rem;
  height: 2rem;
  color: #122;
  text-align: center;
}
.holeSquare{
  margin: 2px;
  float: left;
  width: 2rem;
  height: 1rem;
  color: #8fd;
  text-align: center;
}
.parSquare{
  margin: 2px;
  float: left;
  width: 2rem;
  height: 1rem;
  color: #fff;
  text-align: center;
}
.nav-wrapper {
  background-color: #49a !important;
  color: #fff !important;
}
.brand-logo {
  color: #8fd !important;
}

/* Boxscore Colors */
.ace {
  background-color: #37c
}
.birdie {
  background-color:#0d7
}
.par {
  background-color: #999
}
.bog {
  background-color: #f00
}
.doublebog {
  background-color: #d5e
}
.triplebog {
  background-color: #c5d
}

.row {
  margin-bottom: 0;
}

.player-card-content {
  background-color: #333;
  padding: 0 !important;
}